<body>
	<%= devise_error_messages! %>
	<div class="container2 center">
		<div class="row">
			<div class="z-depth-3 col s12 m12 l4  offset-l4">
				<br />
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div><br />
				<div class="actions btn waves-effect">
					<%= f.submit "パスワード再発行" %>
				</div>
				<% end %><br />
				<%= render "devise/shared/links", :class => "flow-text" %>
				<br />
			</div>
		</div>
	</div>
</body>
